.image-container {
    padding:5px;
    border: solid #dedede 1px;
    border-radius: 5px;
}

#image {
    border-radius: 0px;
}

#petName {
    font-weight: bold;
    color: darkgray;
    background-color: whitesmoke;
}

#petWords {
    color: #333;
}

.pet {
    display: inline-block;
}

.card-text {
    height: 72px;
}

.header {
    margin-top: 10px;
    margin-bottom: 40px;
}

#iJustNeedSomeSpace {
    margin-left: 30px;
    margin-right: 30px;
}

#cat {
    background-color: lavender;
    color: royalblue;
    font-size: 1.1em;
}

#dino {
    background-color: oldlace;
    color: sandybrown;
    font-size: 1.1em;
}

#dog {
    background-color: #dff0d8;
    color: seagreen;
    font-size: 1.1em;
}